name: Deploy Docs to GitHub Wiki

on:
  push:
    paths:
      - 'docs/wiki/**'
    branches:
      - main

jobs:
  deploy-wiki:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Push Wiki Changes
      uses: Andrew-Chen-Wang/github-wiki-action@v3
      env:
        WIKI_DIR: docs/wiki
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_NAME: ${{ github.event.commits[0].author.username }}
        GH_MAIL: ${{ github.event.commits[0].author.email }}
